@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color palette
#fc9e6b, #feb55c,##fb7f3b,#d53d07
#fee8ce,#e04a00
*/

/* Colours Jana
#484349, #839788, #eee0cb, #3f84e5, #fe654f
*/

/* Colours Justyna
#315D93, #817c52, #dacfc3, #fca806, #f27984
*/

@layer base {
	html { margin-right: calc(100vw - 100%); }

	html::-webkit-scrollbar {
		width: 6px;
	}

	html::-webkit-scrollbar-track {
		background: linear-gradient(0deg, rgba(252, 168, 6, 1) 0%, rgba(242, 121, 132, 1) 100%);
	}

	html::-webkit-scrollbar-thumb {
		background: transparent;
		box-shadow: 0px 0px 0px 100vh #e9e9e1;
		border-radius: 44px;
	}

	:root {
		font-size: 16px;
		font-family: 'Playfair Display', serif;
		--color-text: #000;
		--color-bg: #e9e9e1;
		--color-link: #f27984;
		--color-link-hover: #fca806;
		--page-padding: 1rem;
		--columns: 15;
		--cursor-blend-mode: difference;
		--cursor-radius: 0;
	}

	@font-face {
		font-family: 'Work Sans';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(https://fonts.gstatic.com/s/worksans/v18/QGYsz_wNahGAdqQ43Rh_fKDptfpA4Q.woff2) format('woff2');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}

	h1, h2, h3, h4, h5, h6, h7, h8, h9, .is-abril {
		font-family: Abril Fatface;
	}

	.content a {
		@apply text-[#817c52] ;
	}

	.content a:hover {
		@apply underline underline-offset-8 decoration-dotted;

	}

	*,
	*::after,
	*::before {
		box-sizing: border-box;
	}
}


nav, footer, .worksans {
	font-family: 'Work Sans';
}

/* START: FX header */
.home-fx {
	--cursor-bg: #901ee9;
	--gradient-text-1: #000;
	--gradient-text-2: rgb(94 85 147);
	--cursor-radius: 50%;
	--cursor-blend-mode: color-burn;
}

.home-fx:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url("/images/bg7.jpg");
	opacity: 0.44;
}

.cursor {
	height: 100%;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	pointer-events: none;
	z-index: 99;
	mix-blend-mode: var(--cursor-blend-mode);
	--size: calc(100vw / var(--columns));
}

.cursor__inner {
	display: grid;
	grid-template-columns: repeat(var(--columns), var(--size));
}

.cursor__inner-box {
	width: var(--size);
	height: var(--size);
	background: var(--cursor-bg);
	opacity: 0;
	border-radius: var(--cursor-radius);
}

@media screen and (min-width: 53em) {
	:root {
		--columns: 30;
		--page-padding: 2rem;
	}
	.frame {
		grid-template-columns: auto auto auto 1fr;
		grid-template-areas: 'title prev sponsor demos';
		justify-items: start;
		grid-gap: 2rem;
	}
}
/* END: FX header */

/* Page Loader */
.loading::before,
.loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link-hover);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

@layer components {
	.button {
		@apply inline-block px-4 py-3 md:px-6 bg-gradient-to-r from-cyan-950 to-cyan-800 rounded-full !text-white hover:bg-gradient-to-r hover:from-orange-950 hover:to-emerald-800 worksans uppercase tracking-wide;
	}

	.menunav--hidden .menunav__target {
		@apply invisible w-0 h-0 lg:visible lg:w-auto lg:h-auto;
	}

	.menunav--hidden .fa-xmark {
		@apply invisible w-0 h-0;
	}

	.menunav--expanded .menunav__target {
		@apply visible w-full absolute top-[60px] left-0 lg:block lg:w-auto lg:relative;
	}

	.menunav--expanded .menunav__target > a {
		@apply block;
	}

	.menunav--expanded .fa-bars {
		@apply invisible w-0 h-0;
	}
}

.rotate-90 {
	transform: rotate(90deg);
}